.card img {
    width: 100%;
    opacity: 30%;
}

.card {
    background-color: transparent;
    border: solid gray 2px;
    padding: 3%;
    margin: 5%;
    width: 40%;
}

.cardPart {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    padding-bottom: 3%;
}

img:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color:  #EAEAEA;
}